.garnet-listbox {
  position: relative;

  .list-group-item {
    cursor: pointer;
  }
}

.garnet-listbox-list-group {
  max-height: 220px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
}
