{% extends "Foreground/main.twig" %}

{% block content %}
    <div class="middle-v w100p">
        <div class="middle-h">Внутренняя ошибка сервера.</div>
        {% if errorContent %}
            <div>
                <pre>
                    {{errorContent}}
                </pre>
            </div>
        {% endif %}
    </div>
{% endblock %}
